.profile-banner {
  height: 50vh;
  background-position: center;
  overflow: hidden;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: 15px;
}

.main-container {
  display: flex;
  flex-direction: column;
}
